body{
	background-color: ;
}
.container{
	background-color: ;
	border: 1px solid black;
}
.topHeader{
	text-align: center;
	border: 1px solid black;
}
.container:nth-child(2){
	text-align: center;
}
.container:nth-child(2) img{
	height: 200px;
}
.aboutText{
	color: #49999E;
	font-size: 16px;
}
.container:nth-child(3) h2{
	color: #2D5C9E;
	margin-left: 100px;
}

